/* Container for the community section */
.community-paper {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2%;
}

.community-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.community-heading {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.community-card {
  background-color: #222;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(3, 3, 3, 0.807);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.2s ease-in-out;
}

.community-card:hover {
  transform: translateY(-5px);
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.community-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.community-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.community-time {
  font-size: 0.9rem;
  color: #777;
}

.community-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.community-detail {
  color: #fff;
  font-size: 1rem;
}

.community-status-media img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adding responsive design to adapt to small screens */
@media screen and (max-width: 600px) {
  .community-container {
    width: 100%;
    padding: 1rem;
  }

  .community-status-media {
    width: 100%;
  }

  .community-heading {
    font-size: 1.8rem;
  }

  .community-card {
    padding: 12px;
    width: 100%;
  }
}