/* src/styles/HomePage.css */
/* Hero.css */
.hero-background {
  position: relative;
  background-color: #fff !important;
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  overflow: hidden;
  /* Ensure no overflow */
}

.hero-content {
  position: relative;
  width: 100%;
  z-index: 1;
  /* Ensure content is above the particles */
  text-align: center;
  color: #fff;
  /* Adjust text color for readability */
}

.hero-content {
  z-index: 1;
  position: relative;
}

.hero-buttons {
  margin-top: 20px;
}

.cta-btn,
.secondary-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.cta-btn {
  background-color: #00ff00;
  color: black;
  margin-right: 10px;
}

.secondary-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}