/* Base Styles */
.recoveries-container {
  width: 75vw; /* Match width with tricks-container */
  margin: auto;
  padding: 20px;
  background: transparent; /* Transparent background to match the trick container's look */
  color: #e0e0e0;
}

.recoveries-title {
  font-size: 3rem; /* Match font size with tricks-title */
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow for emphasis */
}

.tricks-subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.25rem;
}

.recoveries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.recovery-card {
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent background for a glassy effect */
  border-radius: 15px;
  border-left: 5px solid #8e2de2; /* Match border color with trick-card */
  padding: 20px;
  width: 320px; /* Match width with trick-card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recovery-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.recovery-header {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px; /* Match gap with trick-header */
  margin-bottom: 15px;
}

.recovery-name {
  font-size: 1.85rem; /* Match font size with trick-name */
  font-weight: bold;
  color: #fff !important;
}

.recovery-description {
  font-size: 1.1rem; /* Match font size with trick-description */
  color: #d0d0d0;
  margin-bottom: 15px;
}

.recovery-date {
  font-size: 0.875rem; /* Match font size with added-message */
  color: #a0a0a0; /* Slightly lighter gray for the date */
}

.loading,
.error {
  text-align: center;
  font-size: 1.25rem;
  color: #ff6b6b; /* Soft red color for errors */
  margin-top: 20px;
}
