/* Base Styles */
.tricks-container {
  width: 75vw;
  margin: 25px auto;
  padding: 20px;
  background: transparent; /* Gradient background for depth */
  color: #e0e0e0;
}

.tricks-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow for emphasis */
}


.category-title {
  font-size: 2.3rem;
  border-top: 5px solid #777;
  text-align: center;
  padding: 15px;
  margin: 20px;
  color: #ffffff;
  font-weight: bold !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle text shadow for emphasis */
}



.tricks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.trick-card {
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent background for a glassy effect */
  border-radius: 15px;
  border-left: 5px solid #8e2de2;
  padding: 20px;
  width: 320px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trick-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.trick-card-header {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.trick-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  border: 2px solid #ffffff; /* White border for a cleaner look */
}

.trick-name {
  font-size: 1.85rem;
  font-weight: bold;
  color: #ffffff;
}

.trick-description {
  font-size: 1.1rem;
  color: #d0d0d0;
  margin-bottom: 15px;
}

.tricks-container button {
  background: #8e2de2;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.tricks-container button:hover {
  background: linear-gradient(
    45deg,
    #ff4d4d,
    #ffaa00
  ); /* Darker gradient on hover */
  transform: scale(1.05);
}

.tricks-container button:disabled {
  background: #666;
  cursor: not-allowed;
}

.added-message {
  font-size: 0.9rem;
  color: #4caf50; /* Green color for success messages */
  margin-top: 10px;
}

.loading,
.error {
  text-align: center;
  font-size: 1.25rem;
  color: #ff6b6b;
  margin-top: 20px;
}
